html,
body {
    overflow-y: hidden !important;
}

.menu-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}

.close-button {
    width: 10% !important;
    position: absolute !important;
}

.rmStatus-good {
    padding: 2px 3px 3px 3px !important;
    border-top-right-radius: 4px !important;
    font-size: 12 !important;
    border-bottom-right-radius: 4px !important;
    background: #038153;
    color: white;
    top: -1 !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    margin-left: 15% !important;
}

.rmStatus-bad {
    font-size: 12 !important;
    background: #E82A2A;
    color: white;
    top: -1 !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    margin-left: 15% !important;
    padding: 2px 3px 3px 3px !important;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.rmStatus-fixed {
    font-size: 12 !important;
    background-color: #F5CA00;
    color: #703B15;
    top: -1 !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    margin-left: 15% !important;
    padding: 2px 3px 3px 3px !important;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.feature-title {
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    border-bottom: 1px dotted #C2C8CC;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: rgb(194, 200, 204);
    margin-bottom: 12px;
    min-height: initial;

}

.sla-warning {
    font-size: 12 !important;
    background-color: #F5CA00;
    color: #703B15;
    top: -1 !important;
    border-radius: 4px !important;
    margin-left: 5% !important;
    margin-bottom: 10px;
    padding: 2px 3px 3px 3px !important;

}

.delimeter {
    margin-bottom: 10px;
    border-bottom: dotted;
    border-bottom: 1px dotted #C2C8CC;
    padding-bottom: 5px;
}

td {
    width: 50%;
}